<div class="container">
    <div class="pages-error404">
        <h1>{{"error404.title" | translate}}</h1>
        <p class="lead">{{"error404.message" | translate}}</p>
        <a routerLink="/" class="btn btn-link">
            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> 
            {{"error404.linkback" | translate}}
        </a>
        <hr>
        <img src="assets/images/logo-giadmin-black.svg" height="20" class="d-inline-block align-top" alt=""><br>
        <span>Powered by <strong>GetIT VN</strong> ©2017</span>
    </div>
</div>