<div class="login">
    <div class="card mb-3">
        <div class="card-header">
            <h1 class="display-4">Wellcome</h1>
            <p class="lead">Today will be great !!!</p>
        </div>
        <div class="card-body">
            <alert></alert>
            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-fw fa-id-card-o"></i></span>
                        <input type="text" class="form-control" id="username" name="username" [(ngModel)]="model.username" #username="ngModel" required minlength="6" autocomplete="off" autofocus placeholder="Username" aria-describedby="emailHelp"/>
                    </div>
                    <small *ngIf="f.submitted && !username.valid" class="help-block">Username is required *</small>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-fw fa-lock"></i></span>
                        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="model.password" #password="ngModel" required minlength="8"  placeholder="Password"/>
                    </div>
                    <small *ngIf="f.submitted && !password.valid" class="help-block">Password is required *</small>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary btn-block">
                      <i *ngIf="loading" class="fa fa-spinner fa-spin"></i> Login </button>
                </div>
            </form>
        </div>
        <div class="card-footer bg-transparent text-center"><small class="copyright">Powered by GetIT VN ©2017</small></div>
      </div>
</div>