$topnav-background-color: rgb(245, 245 , 245);
$color-item: #212121;

.sidebar-copyright{
    padding: 5px;
    color: darken($topnav-background-color, 20%);
    font-size: 12px;
}
.sidebar-copyright:hover{
    color: $color-item;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

a.sidebar-menu-item{
    text-decoration: none;
    color: $color-item;
    font-size: 1rem;
}
a.sidebar-menu-item.active{
    font-weight: 500;
    background-color: darken($topnav-background-color, 15%);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.sidebar-menu-item{
    text-align: left;
    width: 100%;
}
a.sidebar-menu-item:hover{
    font-weight: 500;
    background-color: darken($topnav-background-color, 10%);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.hasSub::after{
    content: "\f107";
    font-family: FontAwesome;
    text-decoration: inherit;
    color: $color-item;
    position: absolute;
    right: 10px;
}
.submenu{
    background-color: lighten($topnav-background-color, 10%);
}
.submenu a{
    padding-left: 20px;
}
.submenu a.active{
    background-color: darken($topnav-background-color, 10%);
}